<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" >
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<title>Natalia Palej A00279259</title>

		<style>
		.background {
			background-image: url("{{ url_for('static', filename='images/index.jpg') }}");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			align-items: center;
			height: 90vh;
			margin: 0;
		}
		</style>
	</head>

	<body class="background">
		<h1 class="w3-allerta">My Dog Details</h1>
		<br>

		<div class="w3-container">
			<h3 class="w3-half">
				Hello, <span class="raleway">{{user.user}}</span>!
			</h3>
		</div>

		<br>
		<!-- Dog Details -->
		<div class="w3-margin w3-padding w3-center" style="width: 50%">
			<table class="w3-table table w3-hoverable">
				<thead>
					<tr>
					  <th>Owner</th>
					  <th>Name</th>
					  <th>Age</th>
					  <th>Sex</th>
					  <th>Breed</th>
					  <th>Colour</th>
					  <th>Activity</th>
					  <th>Maintenance</th>
					  <th>Competitions</th>
					  <th>Disqualified</th>
					</tr>
				</thead>
			  <tbody>
			  {% for dog in dogs_list %}
				<tr>
				  <td>{{ dog.user }}</td>
				  <td>{{ dog.name }}</td>
				  <td>{{ dog.age }}</td>
				  <td>{{ dog.sex }}</td>
				  <td>{{ dog.breed }}</td>
				  <td>{{ dog.color }}</td>
				  <td>{{ dog.activity }}</td>
				  <td>{{ dog.maintenance }}</td>
				  <td>{{ dog.competitions }}</td>
				  <td>{{ dog.disqualified }}</td>
				</tr>
			  {% endfor %}
			  </tbody>
			</table>

		<!-- UPDATE/DELETE dog -->
			<div class="w3-margin">
				<form method="post" action="{{ url_for('selected_dog') }}">
					<label for="selectDog">Select dog to update/delete:</label>
						<select name="name" id="selectDog" style="width: 200px;" >
							{% for dog in Dog %}
								<option value="{{ dog.name }}">{{ dog.name }}</option>
							{% endfor %}
						</select>
						<div class="w3-panel">
							<input type="submit" name="userChoice" value="Update" class="menuType w3-margin" style="width: 40%"/>
							<input type="submit" name="userChoice" value="Delete" class="menuType w3-margin" style="width: 40%"/>
						</div>
				</form>
			</div>
		</div>

		<!-- MENU -->
		<div class="w3-container"><h3 class="w3-half">MENU:</h3></div>

		<div class="w3-bar-block">
			<!-- INSERT dog -->
			<div class="w3-bar-item">
				<form method="post" action="{{ url_for('add') }}">
					<input type="submit" value="Add New Dog" class="menuType" />
				</form>
			</div>

			<!-- GET ALL DOGS -->
			<div class="w3-bar-item">
				<form method="get" action="{{ url_for('get_all') }}">
					<input type="submit" value="See Other Dogs" class="menuType" />
				</form>
			</div>
		</div>

		<!-- LOGOUT -->
		<div class="w3-container">
			<div class="w3-quarter">
				<form method="post" action="{{ url_for('logout') }}">
					<input type="submit" name="Logout" value="Logout" class="menuType" />
				</form>
			</div>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<footer>
			<p>Natalia Palej&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student No: A00279259<br>
			Email: <a href="mailto:A00279259@student.tus.ie">A00279259@student.tus.ie</a></p>
		</footer>
	</body>
</html>