<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html>
<html>

<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<title>Natalia Palej A00279259</title>

<style>
	.background{
		background-image: url("{{ url_for('static', filename='images/register.jpg') }}");
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
		}
</style>

<script>
function goBack() {
	window.location.href = "login.jsp";
}
</script>

</head>

<body class="background">
<h1 class="w3-allerta">Register</h1>

{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
   {%- endfor %}

   <div class="w3-container w3-padding">
       <form method = "post" action="{{ request.path }}" class="w3-container w3-margin-top form">
         <label class="label" for = "owner">Dog Owner: </label>
         <input type="text" name="owner" class="inputText" placeholder = "Owner"/>
         <br>
         <label class="label" for = "owner_email">Dog Owner: </label>
         <input type="text" name="owner" class="inputText" placeholder = "Owner"/>
         <br>
         <label class="label" for = "owner_password">Dog Owner: </label>
         <input type="text" name="owner" class="inputText" placeholder = "Owner"/>
         <br>
         <label class="label" for = "name">Dog Name: </label>
         <input type="text" name="name" class="inputText" placeholder = "Name"/>
         <br>
         <label class="label" for = "age">Age:</label>
         <input type="text" name="age" class="inputText" placeholder = "Age"/>
         <br>
         <label class="label" for = "sex">Sex:</label>
         <input type="text" name="sex" class="inputText" placeholder = "Sex"/>
         <br>
         <label class="label" for = "breed">Breed:</label>
         <input type="text" name="breed" class="inputText" placeholder = "Breed"/>
         <br>
         <label class="label" for = "colour">Colour:</label>
         <input type="text" name="colour" class="inputText" placeholder = "Colour"/>
         <br>
         <label class="label" for = "activity">Activity:</label>
         <input type="text" name="activity" class="inputText" placeholder = "Activity"/>
         <br>
         <label class="label" for = "maintenance">Maintenance: </label>
         <input type="text" name="maintenance" class="inputText" placeholder = "Maintenance"/>
         <br>
         <label class="label" for = "competitions">Competitions: </label>
         <input type="text" name="competitions" class="inputText" placeholder = "Competitions"/>
         <br>
         <label class="label" for = "disqualified">Disqualified: </label>
         <input type="text" name="disqualified" class="inputText" placeholder = "Disqualified"/>
         <br>
         <input type="submit" value="Add" class="menuType" />
       </form>
   </div>

<div class="w3-half w3-margin w3-padding w3-center w3-card">
	<h4>Active Members</h4>
	<!-- Setting session attributes for members count -->
	<c:set var="owners_count" value="${owners_count}" scope="session" />
	<c:set var="dogs_count" value="${dogs_count}" scope="session" />
	<div class="w3-left w3-container w3-cell">
		<img src="iconPerson.png" style="width: 60px; margin-right: 10px;"/>
	</div>
	<div class="w3-left w3-container w3-cell">
		<p>Owners: <c:out value="${owners_count}"/></p>
	</div>

	<!-- Gap between owners and dogs -->
	<div class="w3-left w3-container w3-cell">
	</div>

	<div class="w3-left w3-container w3-cell">
		<img src="iconPet.png" style="width: 60px; margin-right: 30px;"/>
	</div>
	<div class="w3-left w3-container w3-cell">
		<p>Dogs: <c:out value="${dogs_count}"/></p>
	</div>
</div>

<footer class="w3-bottom">
	<p>Natalia Palej&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student No: A00279259<br>
	Email: <a href="mailto:A00279259@student.tus.ie">A00279259@student.tus.ie</a></p>
</footer>
</body>
</html>