<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<!-- Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" >
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<!-- Title -->
		<title>Natalia Palej A00279259</title>

		<style>
			.background{
				background-image: url("{{ url_for('static', filename='images/update.jpg') }}");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;
				align-items: center;
				height: 90vh;
				margin: 0;
				}
		</style>
	</head>

	<body class="background">
		<h1 class="w3-allerta">Update Your Doggie</h1>

		{%- for message in get_flashed_messages(with_categories = true) %}
				 <div class="alert alert-danger">
					{{ message }}
				 </div>
		{%- endfor %}

		<h4 class="w3-margin"><span class="raleway">{{user.user}}</span>,
		you can update your dog, <span class="raleway">{{dog.name}}</span>, here.</h4>

		<div class="w3-margin">
			<form method="post" action="{{ url_for('update_dog', dog_name=dog.name) }}" class="w3-margin">
				<label class="label-white">Dog Name:</label>
				<input class="w3-input w3-animate-input input" type="text" name="name"
					   value='{{dog.name}}' />
				<br>
				<label class="label-white">Sex:</label>
					<select name="sex" class="w3-input w3-animate-input input">
						<option value="{{dog.sex}}" disabled selected>{{dog.sex}}</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
				<br>
				<label class="label-white">Breed:</label>
				<input class="w3-input w3-animate-input input" type="text" name="breed"
					   value='{{dog.breed}}' />
				<br>
				<label class="label-white">Colour: </label>
				<input class="w3-input w3-animate-input input" type="text" name="colour"
					   value='{{dog.colour}}' />
				<br>
				<label class="label-white">Activity Level:</label>
					<select name="activity" class="w3-input w3-animate-input input">
						<option value="{{dog.activity}}" disabled selected>{{dog.activity}}</option>
						<option value="Very Low">Very Low</option>
						<option value="Low">Low</option>
						<option value="Medium">Medium</option>
						<option value="High">High</option>
						<option value="Very High">Very High</option>
					</select>
				<br>
				<label class="label-white">Maintenance: </label>
					<select name="maintenance" class="w3-input w3-animate-input input">
						<option value="{{dog.maintenance}}" disabled selected>{{dog.maintenance}}</option>
						<option value="Very Low">Very Low</option>
						<option value="Low">Low</option>
						<option value="Medium">Medium</option>
						<option value="High">High</option>
						<option value="Very High">Very High</option>
					</select>
				<br>
				<label class="label-white">Disqualified: </label>
					<select name="disqualified" class="w3-input w3-animate-input input">
						<option value="{{dog.disqualified}}" disabled selected>{{dog.disqualified}}</option>
						<option value="Yes">Yes</option>
						<option value="No">No</option>
					</select>
				<br>
				<input type="submit" value="Update" name="update" class="button w3-left"/>

				<br>
				<br>
				<br>
				<br>

			</form>
			<!-- BACK button -->
			<a href = "{{ url_for('index') }}" class="button w3-left w3-pink">Back</a>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<footer>
			<p>Natalia Palej&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student No: A00279259<br>
			Email: <a href="mailto:A00279259@student.tus.ie">A00279259@student.tus.ie</a></p>
		</footer>
	</body>
</html>